<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nz.ac.auckland.cer.jobaudit.project">

  <select id="getAdviserForTuakiriSharedToken" parameterType="java.lang.String" resultType="nz.ac.auckland.cer.project.pojo.Adviser">
    SELECT *
    FROM adviser 
    WHERE id IN (
      SELECT adviserId 
      FROM adviser_properties
      WHERE propname = 'tuakiriSharedToken' AND
            propvalue = #{sharedToken}
    )
  </select>	

  <select id="getResearcherForTuakiriSharedToken" parameterType="java.lang.String" resultType="nz.ac.auckland.cer.project.pojo.Researcher">
    SELECT *
    FROM researcher 
    WHERE id IN (
      SELECT researcherId 
      FROM researcher_properties
      WHERE propname = 'tuakiriSharedToken' AND
            propvalue = #{sharedToken}
    )
  </select> 

  <select id="getAccountNamesForResearcherId" parameterType="java.lang.String" resultType="java.lang.String">
    SELECT propvalue
    FROM researcher_properties
    WHERE researcherId = #{researcherId} AND
          propname = 'linuxUsername'
  </select> 

  <select id="getAccountNamesForAdviserId" parameterType="java.lang.String" resultType="java.lang.String">
    SELECT propvalue
    FROM adviser_properties
    WHERE adviserId = #{adviserId} AND
          propname = 'linuxUsername'
  </select> 
	
</mapper>
